.header {
    border: 1px solid red;
    background-color: bisque;
}

.main {
    border: 1px solid green;
}

.footer {
    border: 1px solid blue;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: blueviolet;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.navigation__list {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    justify-content: space-between;
    list-style: none;

}

html {
    scroll-behavior: smooth;
}

.navigation__link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    color: blueviolet;
    text-decoration: none;
    transition: color .3s;
}

.navigation__link:hover {
    color: aquamarine;
}

.navigation__item {
    padding: 0 10px;
    /* background-color: red; */
    list-style: none;

}

.section-title {
    background-color: aquamarine;
}

.main-title {
    display: flex;
    justify-content: center;
}

table {
    width: 100%; /* Ширина таблицы */
    background: white; /* Цвет фона таблицы */
    color: white; /* Цвет текста */
    border-spacing: 1px; /* Расстояние между ячейками */
   }
td, th {
    background: maroon; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг текста */
   }